<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS News</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="header__logo"><a href="/news">NodeJS News</a></div>
        <%- include('./partials/search.ejs') %>
    </header>
    <div class="wrapper">
        <div class="news-single">
            <img src='<%= article.thumbnail_url %>' alt=' <%- article.yoast_head_json.title %>' />
            <h3>
                <%- article.title.rendered %>
            </h3>
            <p>
                <%- article.content.rendered %>
            </p>
        </div>
    </div>
    <%- include('./partials/add.ejs') %>
        <%- include('./partials/footer.ejs') %>
</body>

</html>